<!DOCTYPE html>
<html>
  <head>
    <title>OautServer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>OAUTH SERVER</h1>
    <hr>
    <%= yield %>
    <div>
      <hr>
      <% if current_user %>
        you are logged as <b><%= current_user.email %></b>
        <%= link_to 'logout', destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </body>
</html>
